{% extends "learning_logs/base.html" %}

{% block page_header %}
    <h5>Return to <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h5>
{% endblock page_header %}

{% block content %}
    <h3 class="mb-3">Edit entry:</h3>
    <form action="{% url 'learning_logs:edit_entry' entry.id %}" method="post" class="mb-3">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" class="btn btn-primary">Save changes</button>
    </form>
    
{% endblock content %}

