{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Welcome to Learning Log</h1>
    
      <p class="lead">Track your learning journey with Learning Log. Create your own log and keep a list of the topics you're learning about. Whenever you learn something new, make an entry to summarize what you've learned.</p>
      <p class="lead">Learning Log helps you organize your learning process and track your progress over time. It's the perfect tool for anyone who loves to learn.</p>
    
        <a class="btn btn-lg btn-warning" href="{% url 'users:register' %}" role="button">Get Started &raquo;</a>
    
    </div>
{% endblock page_header %}


{% block footer %}
    <footer class="bg-light text-dark py-4">
        <div class="container">
            <p>&copy;{% now 'Y' %} Learning Log. All rights reserved.</p>
            <p>Contact us at: contact@learninglog.com</p>
            <div>
                <a href="https://www.bilgeadam.com/" class="btn btn-outline-dark btn-social mx-1" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-facebook-f" style="color: #3b5998;"></i>
                </a>
                <a href="#" class="btn btn-outline-dark btn-social mx-1" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-linkedin" style="color: #0e76a8;"></i>
                </a>
                <a href="#" class="btn btn-outline-dark btn-social mx-1" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-twitter" style="color: #00acee;"></i>
                </a>
                <a href="#" class="btn btn-outline-dark btn-social mx-1" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-instagram" style="color: #e4405f;"></i>
                </a>
                <a href="#" class="btn btn-outline-dark btn-social mx-1" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-youtube" style="color: #c4302b;"></i>
                </a>
                <a href="#" class="btn btn-outline-dark btn-social mx-1" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-medium" style="color: #12100e;"></i>
                </a>
                <a href="#" class="btn btn-outline-dark btn-social mx-1" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-github" style="color: #333;"></i>
                </a>
            </div>
            
        </div>
    
    </footer>
    
    
{% endblock footer %}
