{% extends "learning_logs/base.html" %}

{% block content %}
    
    <h2>Topic: {{ topic }}</h2>
    
    <p>Entries:</p>
    <ol>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:"M d, Y H:i:s" }}</p>
                <p>{{ entry.text|linebreaks }}</p>
            </li>
        {% empty %}
            <p>There are no entries for this topic yet.</p>
        	
        {% endfor %}
    
    </ol>
    
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}">
            Add a new entry
        </a>
    </p>
    
{% endblock content %}




