{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <div>
    <h2>{{ topic | upper }}</h2>
   <a href="{% url 'learning_logs:delete_topic' topic.id %}"
      class="btn btn-danger">
       Delete topic
   </a>
    </div>
{% endblock page_header %}

{% block content %}
    <h3>Entries:</h3>
    {% if entries|length > 1 %}
        <p>In this topic, there are {{ entries|length }} entries.</p>
    {% endif %}
    <p>
        <a href="{% url 'learning_logs:new_entry' topic.id %}" class="btn btn-primary">
            Add new entry</a>
    </p>

    <div>
        {% for entry in entries %}
            <div class="card mb-3" style="color: mediumblue; background-color: aliceblue">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h4>{{ entry.date_added | date:'M d, Y H:i' }}
                        <small><a href="{% url 'learning_logs:edit_entry' entry.id %}" style="color: lightseagreen">edit entry</a></small>
                    </h4>
                    <h5><small><a href="{% url 'learning_logs:delete_entry' entry.id %}" style="color: red">delete entry</a></small></h5>
                </div>
                <div class="card-body">
                    {{ entry.text | linebreaks }}
                </div>
            </div>
        {% empty %}
            <li>There are no entries for this topic yet.</li>
        {% endfor %}
    </div>

{% endblock content %}